extends layouts/default

block content
	nav.layout__navbar.navbar.navbar--expand-lg
		a.navbar__brand(href='#', title='Melhor Envio')
			+icon('logo')

	main.layout__main.grid
		section.grid__item-sm--12.space--wide
			h1.text--hero WhatsApp

			article.space--wide.grid
				.grid__item-sm--12.grid__item-lg--6.p-r-lg--normal.space--snug.space-lg--none
					.form__set
						textarea#contacts-input.form__field(placeholder='Contatos', rows='5')
						label.form__label(for='contacts-input') Contatos

				.grid__item-sm--12.grid__item-lg--6.p-l-lg--normal
					.form__set
						textarea#message-input.form__field(placeholder='Mensagem', rows='5')
						label.form__label(for='message-input') Mensagem

			article#contacts-container.space--wide
				h2.text--title Contatos

				#contacts-list.space--loose
					p Nenhum contato

				button#open-all.button(type='button') Abrir todos
