/*
 * Layout
 */

$auto-minsize = minmax(min-content, max-content)

.layout
	display grid
	grid-template-columns auto
	grid-template-rows $auto-minsize auto
	grid-template-areas 'navbar' 'main'

	// @media $from.lg
	// 	grid-template-columns 160px auto

	&__navbar
		grid-area navbar
		z-index navbar

	&__sidebar
		grid-area sidebar
		z-index sidebar

	&__main
		grid-area main
		padding $spacing-snug
		z-index main
