/*
 * Cards
 */

.card
	background $theme-neutral-shine
	border 1px solid transparent
	border-radius 4px
	box-shadow $shadow-small

	for $theme in $themes
		unless $theme is 'neutral'
			&--{$theme}
				border-color lookup('$theme-' + $theme)
				box-shadow none

	for $neutral in $themes.neutral
		&--{$neutral}
			$color = lookup('$theme-neutral-' + $neutral)

			if dark($color)
				color $theme-neutral-shine

			background $color
