/*
 * Forms
 */

.form
	&--error
		& ^[0]__field
		& ^[0]__combobox
			border-color $theme-danger !important
			box-shadow none

		& ^[0]__label
			color $theme-danger !important

		& ^[0]__message
			display block
			color $theme-danger

	&__set
		position relative

	&__message
		display none
		margin-top $spacing-narrow
		font-size $size-little

	&__label
		absolute top $size-medium left $size-normal
		font-size $size-small
		color $theme-neutral-dark
		transform-origin 0 0
		transition $transition-fast

		&--active
			color $theme-neutral-clear
			transform scale(.7) translate(2px, -100%)

	&__field
		display block
		padding $size-medium $size-normal $size-tiny
		width 100%
		font-size $size-small
		line-height 1.145
		color $theme-neutral-dark
		border 1px solid transparent
		border-radius $size-nano
		box-shadow $shadow-small
		transition $transition-fast
		transition-property border-color, box-shadow

		+placeholder()
			color transparent

		&:focus
		&:not(:placeholder-shown)
			& + ^[0]__label
				@extend .form__label--active

		&:focus
			border-color $theme-primary
			box-shadow none

		&:disabled
		&[disabled]
			background $theme-neutral-bright
			border-color $theme-neutral-light
			box-shadow none
			pointer-events none

			& + ^[0]__label
				color $theme-neutral-clear

	&__combobox
		@extend .form__field
		overflow hidden
		position relative
		cursor pointer

		&[disabled]
			&:before
			& ^[1]__placeholder:before
			& ^[1]__placeholder:after
				background $theme-neutral-light

			& ^[0]__label
				color $theme-neutral-clear

		&:before
		&:after
			content ''
			position absolute
			background $theme-neutral-bright

		&:before
			top 0
			right $size-enormous
			width 1px
			height $size-immense

		&:after
			top $size-immense
			left 0
			width 100%
			height 1px

		&--open
			@extend .form__field:focus

			& ^[0]__label
				@extend .form__label--active

			& ^[1]__placeholder
				&:before
					margin-right 5px

				&:after
					margin-right -5px

			& ^[1]__list
				margin-top $size-large
				max-height $size-titanic
				visible true

		&__placeholder
			display block
			min-height $size-normal

			&:before
			&:after
				content ''
				absolute top ($size-immense / 2) right ($size-enormous / 2)
				width 1px
				height $size-small
				background $theme-primary
				transition margin-right $transition-fast

			&:not(:empty)
				& + ^[0]__label
					@extend .form__label--active

			&:before
				transform rotate(45deg) translateY(-50%)

			&:after
				transform rotate(-45deg) translateY(-50%)

		&__list
			overflow hidden
			overflow-y auto
			margin-top 0
			max-height 0
			list-style none
			transition $transition-fast
			user-select none
			visible false
			will-change margin-top, max-height, opacity

			&::-webkit-scrollbar
				width $size-nano

			&::-webkit-scrollbar-track
				border 1px solid $theme-neutral-light
				border-radius $size-nano

			&::-webkit-scrollbar-thumb
				background-color $theme-neutral-light
				border-radius $size-nano

		&__option
			display block
			padding $spacing-narrow 0
			width 'calc(100% - %s)' % $size-medium
			font-size $font-size-small
			text-align left
			border-bottom 1px solid $theme-neutral-light

			&:last-child
				border none

	&__checkbox
	&__radio
	&__switch
		display inline-flex
		align-items center
		font-size $size-small

		&__input
			position relative
			margin-right $spacing-narrow
			box-shadow $shadow-default
			transition-duration $transition-fast
			transition-property background, border-color, box-shadow

			&:focus
			&:checked
				box-shadow none

			&:focus
				border-color $theme-primary

	&__checkbox
		&__input
			size $size-normal
			background $theme-neutral-shine
			border 1px solid $theme-neutral-medium
			border-radius $size-nano

			&:checked
				background $theme-primary
				border-color $theme-primary

			&:before
				content ''
				absolute top 50% left 50%
				size 5px 9px
				border solid $theme-neutral-shine
				border-width 0 2px 2px 0
				transform translate(-50%, -50%) rotate(45deg)

	&__radio
		&__input
			size $size-normal
			border 1px solid $theme-neutral-medium
			border-radius 50%

			&:checked
				background $theme-primary
				border-color $theme-primary

	&__switch
		&__input
			size $size-grand $size-little
			border 1px solid $theme-neutral-medium
			border-radius $size-little

			&:checked
				border-color $theme-primary

				&:before
					background $theme-primary
					transform translate(100%, -50%)

			&:before
				content ''
				absolute top 50% left -1px
				size $size-normal
				background $theme-neutral-medium
				border-radius 50%
				transform translate(0, -50%)
				transition $transition-fast
				transition-property background, transform
