/*
 * Tables
 */

.table
	overflow hidden
	position relative
	width 100%
	border-radius $size-mini
	box-shadow $shadow-large

	&--striped
		& ^[0]__body
			& ^[0]__row
				&:nth-child(even)
					background $theme-neutral-bright

	&__head
		box-shadow $shadow-large-down

		& ^[0]__cell
			@extend $type-default-bold

	&__cell
		padding $size-big
