/*
 * Tabs
 */

.tabs
	filter drop-shadow($shadow-large-down)

	&__menu
		@extend $type-default-bold
		overflow hidden
		position relative
		display inline-flex
		border-top-left-radius $size-mini
		border-top-right-radius $size-mini

		&:after
			content ''
			absolute top 100% left 0 right 0
			height 10px // Just to work the shadow
			box-shadow $shadow-large-down
			z-index 100

	&__button
		padding $size-little $size-grand
		font-size $size-small
		text-align center
		color $theme-neutral-dark
		background $theme-neutral-shine
		box-shadow $shadow-default

		&--active
		&:focus
			position relative
			text-decoration underline
			text-transform uppercase
			color $theme-primary
			z-index 200

		&::-moz-focus-inner
			border none

	&__content
		overflow hidden
		display none
		background $theme-neutral-shine
		border-radius $size-mini
		border-top-left-radius 0

		&--active
			display block
