/*
 * Typography Config
 */

$type-default-font-family = $font.family.default
$type-default-font-weight-regular = $font.weight.default.regular
$type-default-font-weight-bold = $font.weight.default.bold

$type-alt-font-family = $font.family.alt
$type-alt-font-weight-regular = $font.weight.alt.regular
$type-alt-font-weight-bold = $font.weight.alt.bold

$font-tracking = $font.tracking.default
$font-leading = $font.leading.default


/*
 * Text Styles
 */

// Types
$type-default-regular
	font-family $type-default-font-family
	font-weight $type-default-font-weight-regular

$type-default-bold
	font-family $type-default-font-family
	font-weight $type-default-font-weight-bold

$type-alt-regular
	font-family $type-alt-font-family
	font-weight $type-alt-font-weight-regular

$type-alt-bold
	font-family $type-alt-font-family
	font-weight $type-alt-font-weight-bold

.text
	// Styles
	&--hero
		@extend $type-default-bold
		margin-bottom $size-big
		font-size $font-size-hero

	&--title
		@extend $type-default-bold
		margin-bottom $size-normal
		font-size $font-size-title

	&--subtitle
		@extend $type-default-bold
		margin-bottom $size-normal
		font-size $font-size-subtitle

	&--highlight
		@extend $type-default-bold
		margin-bottom $size-normal
		font-size $font-size-normal

	&--normal
		@extend $type-default-regular
		font-size $font-size-normal

		p
			margin-bottom $spacing-snug

			&:last-child
				margin-bottom 0

	&--small
		@extend $type-default-regular
		font-size $font-size-small

	&--tiny
		@extend $type-default-bold
		font-size $font-size-tiny

	// Themes
	// Generate text theme classes: .text-[theme]
	// @stylint off
	for $theme in $themes
		for $t in $themes[$theme]
			if index('light' 'dark', $t) is null
				if $theme is 'neutral'
					&--{$t}
						color lookup('$theme-neutral-' + $t)
				else
					&--{$theme}
						color lookup('$theme-' + $theme)
	// @stylint on


// Links
.link
	@extend .text--primary
	position relative
	display inline-flex
	align-items center

	&:visited
		color $theme-success

	.icon
		margin-left $spacing-snug


// General
body
	@extend .text--normal
